@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #ffffff,
      #ece9e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #ffffff,
      #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .gradient-text {
    background: #ff4e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f9d423,
      #ff4e50
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f9d423,
      #ff4e50
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    /* @apply underline; */
  }

  h1 {
    @apply font-medium leading-tight text-5xl mt-0 mb-2;
  }

  h2 {
    @apply font-medium leading-tight text-4xl mt-0 mb-2;
  }

  img {
    @apply py-6;
  }

  p {
    @apply mb-6;
  }

  ul.simple-list {
    @apply list-disc pl-6 mb-3;
  }
}
