@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono text-sm md:text-base;
  }
  html {
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #ffffff,
      #ece9e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #ffffff,
      #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
  }

  .gradient-text {
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f37335,
      #fdc830
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f37335,
      #fdc830
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-fill {
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f37335,
      #fdc830
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f37335,
      #fdc830
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .gradient-fill-inverse {
    background: #f37335; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fdc830
      #f37335,
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fdc830
      #f37335,
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .rainbow-text {
    /* Following https://www.youtube.com/watch?v=oK3uoDeQIlU */
    background-image: repeating-linear-gradient(
      45deg,
      #ff0000 0%,
      #ffff00 8.3%,
      #00ff00 16.6%,
      #00ffff 24.9%,
      #0000ff 33.2%,
      #ff00ff 41.5%,
      #ff0000 50%
    );
    background-size: 200vw 200vh;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: loop 5s infinite linear;
  }

  @keyframes loop {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 200vw;
    }
  }


  a {
    /* @apply underline; */
  }

  h1 {
    @apply font-medium leading-tight text-5xl mt-0 mb-2;
  }

  h2 {
    @apply font-medium leading-tight text-4xl mt-0 mb-2;
  }

  h3 {
    @apply gradient-text text-lg md:text-2xl font-light;
  }

  ul {
    @apply simple-list;
  }

  ul.simple-list {
    @apply list-disc pl-6 mb-3;
  }

  img {
    @apply py-6;
  }

  p {
    @apply mb-6;
  }
  
  pre {
    background-color: #00ff00;
  }
  code {
    background-color: #f37335;
    padding: 0.125rem;
  }
  
  .hljs {
    color: yellow;
  }
}
